body{background-image:url('../assets/bi..jpg'); background-attachment: fixed; position: relative; background-size:cover;}
#mypic{width:200px; height: 200px;}
h2{color:white; text-align:center;}
#hl{background-color:white; height:3px;}
#my{color: white; font-size: 20px; text-align: center;}
#myl{color: yellow; font-size: 30px; }
h1{color:white; text-align:center;}
#ji{color:white; font-size: 20px;font-style: italic;}
#second{background-color:rgba(241, 81, 12,0.7);}
#third{background-color: rgba(157, 34, 75,0.5);}
#first{background-color: rgba(10, 1, 15,0.2);}
#fourth{background-color:rgba(211, 245, 218 ,0.1); color:white;}
